/* texto centrado */
.centrado{
  padding: 50vh;
}



 /* Esto es el hola 

 @media (max-width: 500px)  { 
    .hola{
      text-align: center;
      background-color: blue;
    }    
.que_paso_papu{      
display: none;
visibility: none;

    }
.adios{      
display: none; 
visibility: none;

    }
}
 @media (min-width: 500px)  { 
    .hola{
display: none; 
visibility: none;
    }    
.que_paso_papu{      
      text-align: center;
      background-color: gold;
    }
.adios{      
display: none; 
visibility: none;

    }
}

 @media (max-width: 800px)  { 
  .que_paso_papu{      
display: none; 
visibility: none;

    }
    .hola{
display: none; 
visibility: none;
    }    

.adios{      
      text-align: center;
      background-color: green;
    }
}


*/
h1, .centrado{
  display: none;
  margin: 50vh;
  


}

body{
  background-color: green;
}

@media (max-width: 1000px) {
  body{
    background-color: gold;
  }
  #Adios{
    display: initial;

  }  
      #hola, #QPP{
    display: none;

  }
}
@media (max-width: 800px) {
  body{
    background-color: blue;
  }
    #hola, #Adios{
    display: none;

  }
    #QPP{
    display: initial;

  }
  
}

@media (max-width: 500px) {
  body{
    background-color: pink;
  }
  
      #Adios, #QPP{
    display: none;

  }
    #hola{
    display: initial;

  }
}

